<div>
  Проект "Гражданского контроля судебной системы" был создан командой ZUBR для показа обществу масштабов системы,
  которая создана в Республике Беларусь и должна была быть направлена на контроль соблюдения закона,
  а не быть карательным органом в руках правящей группировки.
  Вся информация, отображенная на страницах проекта бала получена из открытых источников либо от лиц,
  потерпевших в результате произвола работников репрессивного аппарата
  В связи с тем, что информация по судьям является практически закрытой, то мы благодарны
  были бы любым дополнительным данным как о судах, так и о судьях. Свои истории и опыт
  отношений с ними вы можете оставить как через нашего бота в Телеграмме, так и через
  систему комментирования на странице суда или конкретного судьи.
  С развитием проекта можно будет видеть статистику как по каждому суду, так и судье в отдельности

  Давайте вместе остановим произвол, творящийся в стране.
</div>
