<div class="row my-3">
  <div class="col-md-4 mb-sm-4 mb-md-0 text-center text-md-left">
    <h2 class="list-title-line-height" translate>about</h2>
  </div>
</div>

<div class="row my-2">
  <div class="col-md-6">
    <div class="row my-2 p-3 p-md-0">
      <div class="col-md-12">
        <h3 translate>general_information</h3>
        <div class="color-gray about-content" [innerHTML]="'about_text' | translate"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row my-2 px-3 px-md-0">
      <div class="col-md-12">
        <h3 translate>team</h3>
        <div class="embed-members-list col-md-12">
          <div class="row">
            <div class="col-md-12 embed-member-item embed-member-item-group">
              <div class="embed-member-photo my-2 mx-md-auto float-left float-md-none text-md-center">
                <img src="./assets/images/marinich.jpeg">
              </div>
              <div class="embed-member-info ml-2 ml-md-0 py-2 mx-md-auto float-left float-md-none text-md-center">
                <div class="embed-member-name mb-2 color-secondary" translate>pavel_marinich</div>
                <div class="embed-member-position-wrapper">
                  <span class="embed-member-position font-weight-bold" translate>for_all_questions</span>
                </div>
                <div class="embed-member-position-wrapper py-2">
                  <span class="embed-member-position">
                    <a href="mailto:zubr.contact@gmail.com">zubr.contact@gmail.com</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-2 text-center text-md-left mb-3">
          <a href="https://t.me/zubr_in" target="_blank">
            <img class="partner-logo" src="./assets/images/logo/tg.png">
          </a>
        </div>
        <div class="col-2 text-center text-md-left mb-3">
          <a href="https://www.youtube.com/channel/UC5sPqti8bakMgz5T5u6_o6A" target="_blank">
            <img class="partner-logo" src="./assets/images/logo/youtube.png">
          </a>
        </div>
        <div class="col-2 text-center text-md-left mb-3">
          <a href="https://www.instagram.com/zubr_in/" target="_blank">
            <img class="partner-logo" src="./assets/images/logo/instagram.png">
          </a>
        </div>
        <div class="col-2 text-center text-md-left mb-3">
          <a href="https://www.facebook.com/zubrBY/" target="_blank">
            <img class="partner-logo" src="./assets/images/logo/fb.png">
          </a>
        </div>
        <div class="col-2 text-center text-md-left mb-3">
          <a href="https://ok.ru/group/57663333007380" target="_blank">
            <img class="partner-logo" src="./assets/images/logo/ok.png">
          </a>
        </div>
        <div class="col-2 text-center text-md-left mb-3">
          <a href="https://vk.com/zubr_in" target="_blank">
            <img class="partner-logo" src="./assets/images/logo/vk.png">
          </a>
        </div>
      </div>
      <div class="col-md-12">
        <h3 translate>in_partnership</h3>
        <div class="row">
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://honestpeople.by" target="_blank">
              <img class="partner-logo" src="./assets/images/hp.png">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://t.me/nexta_tv" target="_blank">
              <img class="partner-logo" src="./assets/images/nexta.jpeg">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://t.me/belamova" target="_blank">
              <img class="partner-logo" src="./assets/images/belamova.jpeg">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://t.me/mkbelarus" target="_blank">
              <img class="partner-logo" src="./assets/images/mkb.jpeg">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://t.me/strana_official" target="_blank">
              <img class="partner-logo" src="./assets/images/sdz.jpeg">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://www.youtube.com/user/arutv2" target="_blank">
              <img class="partner-logo" src="./assets/images/arutv.png">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://www.youtube.com/channel/UC0oLxL8yFsI6KyXdDgnJi4g" target="_blank">
              <img class="partner-logo" src="./assets/images/preporter.png">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://t.me/svezhyvecer" target="_blank">
              <img class="partner-logo" src="./assets/images/sv.png">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://belaruspartisan.by/" target="_blank">
              <img class="partner-logo" src="./assets/images/bp.jpg">
            </a>
          </div>
          <div class="col-3 text-center text-md-left mb-3">
            <a href="https://www.youtube.com/channel/UClC8mdNkDXYp_wHD8eH3LAQ" target="_blank">
              <img class="partner-logo" src="./assets/images/ogp_tv.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row my-2">
  <div class="col-md-12">
    <div class="row my-2 px-3 px-md-0">
      <div class="col-md-12">
        <h3 translate>faq</h3>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span translate>our_mission</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p translate>our_mission_text</p>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span translate>our_goals</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p translate>our_goals_text</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
