<zubr-client-sidebar></zubr-client-sidebar>
<zubr-client-toolbar-mobile></zubr-client-toolbar-mobile>
<div class="sidebar-content p-0 p-md-4" style="overflow-x: hidden">
  <div class="sidebar-content-wrapper mx-auto">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="zubr-card zubr-card-content p-md-3">
            <div class="router-content">
              <router-outlet #courtsRouterOutlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
