<div class="row my-3">
  <div class="col-md-4 mb-sm-4 mb-md-0 text-center text-md-left">
    <h2 class="list-title-line-height" translate>candidates</h2>
  </div>
</div>

<div class="row my-4">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col" translate></th>
        <th scope="col" translate>full_name</th>
        <th scope="col" class="d-none d-md-table-cell" translate>campaign</th>
        <th scope="col" class="d-none d-md-table-cell" translate></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">
          <div class="member-detail-photo-small mx-auto text-center">
            <img src="./assets/images/dmitriev.png"/>
          </div>
        </th>
        <td class="font-weight-bold font-size-20px vertical-align-center py-auto color-ui-control">
          <span translate>dmitriev</span>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <a [routerLink]="['/elections/map']" translate>presidential_2020</a>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <i class="material-icons color-ui-control">update</i>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <div class="member-detail-photo-small mx-auto text-center">
            <img src="./assets/images/kanapatskaya.png"/>
          </div>
        </th>
        <td class="font-weight-bold font-size-20px vertical-align-center py-auto color-ui-control">
          <span translate>kanapatskaya</span>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <a [routerLink]="['/elections/map']" translate>presidential_2020</a>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <i class="material-icons color-ui-control">update</i>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <div class="member-detail-photo-small mx-auto text-center">
            <img src="./assets/images/lukashenko.png"/>
          </div>
        </th>
        <td class="font-weight-bold font-size-20px vertical-align-center py-auto color-ui-control">
          <span translate>lukashenko</span>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <a [routerLink]="['/elections/map']" translate>presidential_2020</a>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <i class="material-icons color-ui-control">update</i>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <div class="member-detail-photo-small mx-auto text-center">
            <img src="./assets/images/tihanovskaya.png"/>
          </div>
        </th>
        <td class="font-weight-bold font-size-20px vertical-align-center py-auto color-ui-control">
          <span translate>tihanovskaya</span>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <a [routerLink]="['/elections/map']" translate>presidential_2020</a>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <i class="material-icons color-ui-control">update</i>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <div class="member-detail-photo-small mx-auto text-center">
            <img src="./assets/images/cherechen.png"/>
          </div>
        </th>
        <td class="font-weight-bold font-size-20px vertical-align-center py-auto color-ui-control">
          <span translate>cherechen</span>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <a [routerLink]="['/elections/map']" translate>presidential_2020</a>
        </td>
        <td class="vertical-align-center py-auto d-none d-md-table-cell">
          <i class="material-icons color-ui-control">update</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
