zubr-client-language-switcher {
  width: 30px;
  position: fixed;
  top: 50%;
  right: -10px;
  transform: translate(-50%, -50%);
  padding: 3px;
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 3;
  a {
    cursor: pointer;
    text-align: center;
  }
  img {
    width: 100%;
  }
}
