<div class="zubr-loading-container"
     [hidden]="(judgeLoading$ | async) === false">
  <mat-spinner [diameter]="30"></mat-spinner>
</div>

<div class="row my-3" *ngIf="viewError">
  <div class="col-md-12">
    <zubr-client-page-not-found [message]="'judge_not_found'"></zubr-client-page-not-found>
  </div>
</div>

<div class="col-md-12" *ngIf="(entity$ | async) as judge">
  <div class="row">
    <div class="col-md-6">
      <h2 style="padding-top: 15px;">{{ judge.fullName }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="member-detail-photo mx-auto text-center">
        <img alt="Member photo"
             src="{{
                   judge.photoUrl
                   ? judge.photoUrl
                   : './assets/images/user.svg'
                   }}"/>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <share-buttons [include]="['facebook','vk','telegram','print','copy']"
                       style="padding-left: 15px"
                       [show]="5"
                       [size]="-4"
                       [title]="judge.fullName"
                       [description]="judge.fullName"
                       [image]="'https://zubr.in/assets/images/zubr_og_image.png?v=2'"
                       [tags]="'#выборы #беларусь #2020'"
                       [autoSetMeta]="false"
        ></share-buttons>
      </div>
      <div class="row">
        <zubr-client-button
          class="mr-2"
          [routerLink]="['/c/judge/' + judge.id]"
          fragment="comments"
          [options]="{
                      icon: 'chat',
                      label: 'discuss_activity',
                      appearance: 'primary'
                    }"
        ></zubr-client-button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row my-2">
        <div class="col-md-12">
          <div class="alert background-gray">
            <p><b translate>position</b>: <b class="color-secondary">{{ judge.description}}</b></p>
            <p><b translate>court</b>:
              <span class="text-color-ui-control font-weight-bold">
                {{ judge.comment }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="overflow-x: auto">
      <h3 translate>incidents</h3>
      <zubr-client-data-grid
        [dataGridOptions]="dataGridOptions">
      </zubr-client-data-grid>
    </div>
  </div>


  <div class="row my-2" id="comments">
    <div class="col-md-12">
      <h3 translate>discussion_of_judge_activity</h3>
      <div id="disqus_thread"></div>
    </div>
  </div>

</div>
