<div class="row my-3">
  <div class="col-md-4 mb-sm-4 mb-md-0 text-center text-md-left">
    <h2 class="list-title-line-height" translate>campaigns</h2>
  </div>
</div>

<div class="row my-4">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" translate>campaign</th>
        <th scope="col" translate>year</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <a [routerLink]="['/elections/map']" translate>presidential_2020</a>
        </td>
        <td>2020</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
